<!DOCTYPE html>
<html>
  <body>
    <h2>Event Creation Form</h2>

    <form id="eventForm">
      <label for="eventName">Event Name:</label><br />
      <input type="text" id="eventName" name="eventName" required /><br />

      <label for="eventType">Event Type:</label><br />
      <input type="text" id="eventType" name="eventType" required /><br />

      <label for="description">Description:</label><br />
      <textarea id="description" name="description" required></textarea><br />

      <label for="organiserName">Organiser Name:</label><br />
      <input
        type="text"
        id="organiserName"
        name="organiserName"
        required
      /><br />

      <label for="locationLandmark">Location Landmark:</label><br />
      <input
        type="text"
        id="locationLandmark"
        name="location[landmark]"
        required
      /><br />

      <label for="locationCity">Location City:</label><br />
      <input
        type="text"
        id="locationCity"
        name="location[city]"
        required
      /><br />

      <label for="locationState">Location State:</label><br />
      <input
        type="text"
        id="locationState"
        name="location[state]"
        required
      /><br />

      <label for="locationCountry">Location Country:</label><br />
      <input
        type="text"
        id="locationCountry"
        name="location[country]"
        required
      /><br />

      <label for="startDate">Start Date:</label><br />
      <input type="date" id="startDate" name="date[startDate]" required /><br />

      <label for="endDate">End Date:</label><br />
      <input type="date" id="endDate" name="date[endDate]" required /><br />

      <label for="lastDateOfRegistration">Last Date of Registration:</label
      ><br />
      <input
        type="date"
        id="lastDateOfRegistration"
        name="date[lastDateOfRegistration]"
        required
      /><br />

      <label for="eligibilities">Eligibilities:</label><br />
      <input
        type="text"
        id="eligibilities"
        name="eligibilities[]"
        required
      /><br />

      <label for="rules">Rules:</label><br />
      <input type="text" id="rules" name="rules[]" required /><br />

      <label for="contactName">Contact Name:</label><br />
      <input
        type="text"
        id="contactName"
        name="contact[][name]"
        required
      /><br />

      <label for="contactPhone">Contact Phone:</label><br />
      <input
        type="text"
        id="contactPhone"
        name="contact[][phone]"
        required
      /><br />

      <label for="registrationChargesName">Registration Charges Name:</label
      ><br />
      <input
        type="text"
        id="registrationChargesName"
        name="registrationCharges[][name]"
        required
      /><br />

      <label for="registrationChargesCurrency"
        >Registration Charges Currency:</label
      ><br />
      <input
        type="text"
        id="registrationChargesCurrency"
        name="registrationCharges[][currency]"
        required
      /><br />

      <label for="registrationChargesAmount">Registration Charges Amount:</label
      ><br />
      <input
        type="text"
        id="registrationChargesAmount"
        name="registrationCharges[][amount]"
        required
      /><br />

      <label for="registrationChargesIsMandatory"
        >Registration Charges Is Mandatory:</label
      ><br />
      <input
        type="checkbox"
        id="registrationChargesIsMandatory"
        name="registrationCharges[][isMandatory]"
        value="true"
      /><br />

      <input type="submit" value="Submit" />
    </form>
    <script>
      document
        .getElementById("eventForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          var formData = new FormData(event.target);
          console.log(formData);
          fetch("http://localhost:4000/api/event/create", {
            method: "POST",
            headers: {
              Authorization:
                "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NjVlZDJkYjA5NGE2MTY0MzBjYjE1ODgiLCJpYXQiOjE3MjA0NTI2NTQsImV4cCI6MTcyMDUzOTA1NH0.N0I0q0TFr9hpEm7rt7kjDQJ90Bspes2CfWaPWxGgdj0",
            },
            body: { eventName: "abc" },
            formData,
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              console.log(data);
            })
            .catch(function (error) {
              console.error(error);
            });
        });
    </script>
  </body>
</html>
